body {
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.header-section {
    color: white;
    padding-top: 160px;
    padding-bottom: 160px;
    background-image: url(images/donation13.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.header-section h1 {
    font-size: 50px;
}

.link-button {
    text-decoration: none;
    color: white;
    font-weight: 700;
    padding: 20px 35px;
    border-radius: 10px;
    background-image: linear-gradient(red, tomato);
}

.donate-today {
    text-align: center;
    padding-top: 160px;
    padding-bottom: 160px;
}

.flexible-taka {
    display: flex;
    font-size: 20px;
    padding-left: 350px;
}

.amount-design {
    padding: 20px 20px;
    margin: 10px;
    border-radius: 5px;
    background-color: #FAFAFA;
}

#design-different {
    color: tomato;
    padding: 18px 18px;
    margin-left: 10px;
    border-radius: 5px;
    border: 2px solid #FF5959;
    background-color: #FFEEEE;
}

#other-amount-text {
    color: #DADADA;
}

.donate-today hr {
    text-align: center;
    width: 765px;
}